* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.img-responsive {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*### Colors ###*/
/*--### Font Family ###--*/
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  font-weight: 600;
}

p,
a {
  font-family: "League Spartan", sans-serif;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1260px;
  margin: auto;
}
@media (max-width: 425px) {
  .container-fluid {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 500;
  color: #181818;
}

h1 {
  font-weight: 700;
  font-size: 88px;
}
@media (max-width: 991px) {
  h1 {
    font-size: 65px !important;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 45px !important;
  }
}

h2 {
  font-size: 50px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 32px !important;
  }
}

h3 {
  font-size: 50px;
  font-weight: 800;
}

.button .btn {
  background-image: linear-gradient(135deg, #ac8c4f 10%, #f4e296 100%);
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 14px 35px;
  border-radius: 80px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #af9057;
  transition: 0.3s all ease;
}
@media (max-width: 532px) {
  .button .btn {
    text-transform: none !important;
  }
}
.button .btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid;
  margin-left: 12px;
}
@media (max-width: 508px) {
  .button .btn {
    padding: 10px 20px;
    font-size: 13px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .button .btn {
    font-size: 15px;
    padding: 10px 18px;
  }
}
.button .btn-2 {
  background: transparent;
  color: #fff;
  border: 1px solid;
}
.button .btn-2:hover {
  background-image: linear-gradient(135deg, #ac8c4f 10%, #f4e296 100%);
  border: 1px solid #af9057;
}
.button .dark {
  background: transparent;
  font-size: 19px;
  font-weight: 500;
  color: #ac8c51;
  border-color: #ac8c51;
}
.button .dark:hover {
  background: #ac8c51;
  border-color: #ac8c51;
}
@media (max-width: 768px) {
  .button .dark {
    font-size: 15px;
    padding: 10px 18px;
  }
}

.headline {
  text-align: center;
  margin-bottom: 60px;
}

section {
  padding: 5% 0;
}
@media (max-width: 425px) {
  section {
    padding: 10% 0;
  }
}
@media (max-width: 532px) {
  section {
    padding: 70px 20px;
  }
}

p {
  margin-bottom: 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7215686275);
  font-weight: 400;
}
@media (max-width: 620px) {
  p {
    font-size: 21px;
  }
}

a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  transition: width 0.3s ease;
}

a:hover:after {
  width: 100%;
  left: 0%;
}

.page-header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url(../img/header-img.jpg);
  background-position: center;
  padding: 7% 0;
}
@media (max-width: 683px) {
  .page-header {
    padding-top: 142px;
    padding-bottom: 50px;
  }
}
.page-header .container-fluid .heading {
  width: 48%;
  text-align: center;
  padding-top: 145px;
}
@media (max-width: 683px) {
  .page-header .container-fluid .heading {
    width: 70%;
  }
}
.page-header .container-fluid .heading h1,
.page-header .container-fluid .heading p {
  text-align: left;
}
@media (max-width: 1024px) {
  .page-header .container-fluid .heading {
    padding: 35px 0;
  }
}

@media (max-width: 425px) {
  .image {
    margin: 45px 0;
  }
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 8;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 7;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  background-color: #ac8c4f;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

a:hover {
  color: #fff;
}

.aos-init.aos-animate {
  transition-delay: 0.3s !important;
}

.sub-title {
  line-height: 1.2;
  font-size: 28px;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .sub-title {
    font-size: 22px;
  }
}

.light {
  color: #fff;
}

@media (max-width: 425px) {
  iframe {
    height: 220px;
  }
}

header {
  background-color: #000 !important;
  padding: 0px 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 100%;
  z-index: 5;
}
@media (max-width: 532px) {
  header {
    background-color: #191919 !important;
    padding: 14px 0px !important;
  }
}
@media (max-width: 1024px) {
  header {
    position: fixed;
    padding: 0 !important;
  }
}
@media (max-width: 991px) {
  header {
    padding: 12px 0;
  }
}
header .top-bar {
  background-color: #191919;
  padding: 6px 0%;
}
@media (max-width: 1024px) {
  header .top-bar {
    display: none;
  }
}
header .top-bar .row {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1260px;
  margin: auto;
}
header .top-bar .row .col-md-6 .column-1 {
  justify-content: start;
}
header .top-bar .row .col-md-6 .column-2 {
  justify-content: end;
}
header .top-bar .row .col-md-6 .content {
  display: flex;
  align-items: center;
}
header .top-bar .row .col-md-6 .content .contact-info {
  display: flex;
  color: rgba(255, 255, 255, 0.5215686275);
  font-size: 14px;
}
header .top-bar .row .col-md-6 .content .contact-info .location {
  margin-right: 20px;
}
header .top-bar .row .col-md-6 .content .follow-us {
  display: flex;
  color: rgba(255, 255, 255, 0.5215686275);
  font-size: 14px;
  margin-right: 30px;
  align-items: center;
  margin: 0 0 auto;
}
header .top-bar .row .col-md-6 .content .follow-us li {
  margin-right: 8px;
}
header .top-bar .row .col-md-6 .content .button .btn {
  font-size: 14px;
  padding: 5px 49px;
}
header .top-bar .row .col-md-6 .content .button .wtsapp {
  background-image: linear-gradient(12deg, #25cf43 10%, #61fd7d 100%);
  border: none;
  padding: 4px 12px;
}
@media (max-width: 532px) {
  header .navbar {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 18px 30px;
  }
}
@media (max-width: 532px) {
  header .navbar .logo {
    margin-left: 20px;
  }
}
header .navbar .logo img {
  width: 300px;
}
@media (max-width: 575px) {
  header .navbar .logo img {
    width: 220px;
  }
}
@media (max-width: 532px) {
  header .navbar .logo img {
    width: 135px;
  }
}
@media (max-width: 532px) {
  header .navbar .navbar-toggler {
    border: none;
    padding: 0;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    width: 24px;
  }
}
header .navbar .navbar-collapse {
  justify-content: end;
}
@media (max-width: 532px) {
  header .navbar .navbar-collapse {
    width: 88%;
    position: absolute;
    top: 66px;
    background-color: #191919 !important;
    left: 0;
  }
}
@media (max-width: 532px) {
  header .navbar .navbar-collapse ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3098039216);
    text-align: center;
    width: 80%;
    padding: 9px 0;
    margin: 0 auto;
    text-transform: uppercase;
  }
}
header .navbar .navbar-collapse ul li a {
  font-size: 19px;
  margin: 0 10px;
  border-bottom: 1px solid transparent;
  padding: 7px 15px !important;
  border-radius: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7803921569);
}
@media (max-width: 991px) {
  header .navbar .navbar-collapse ul li a {
    padding: 8px 0;
    margin: 0 auto;
  }
}
header .navbar .navbar-collapse ul li a:hover {
  background: #fff;
  color: #000 !important;
  border-color: #ac8c51;
}
header .navbar .navbar-collapse .last-row-header {
  background: #242424;
  margin-top: 40px;
  padding: 24px 40px;
}
@media (max-width: 256px) {
  header .navbar .navbar-collapse .last-row-header {
    padding: 22px 20px;
  }
}
@media (min-width: 532px) {
  header .navbar .navbar-collapse .last-row-header {
    display: none;
  }
}
header .navbar .navbar-collapse .last-row-header .contact-info {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
}
header .navbar .navbar-collapse .last-row-header .contact-info .location {
  margin-bottom: 7px;
}
header .navbar .navbar-collapse .last-row-header .follow-us {
  display: flex;
  width: 100%;
  margin: 28px 0;
}
header .navbar .navbar-collapse .last-row-header .follow-us li {
  border-bottom: 0;
}
header .navbar .navbar-collapse .last-row-header .follow-us li a {
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 11px 17px !important;
}
@media (max-width: 324px) {
  header .navbar .navbar-collapse .last-row-header .follow-us li a {
    padding: 9px 14px !important;
  }
}
@media (max-width: 296px) {
  header .navbar .navbar-collapse .last-row-header .follow-us li a {
    font-size: 13px;
    padding: 5px 10px !important;
  }
}

header .btn:hover {
  margin-left: 0px !important;
}
header .btn .menu-btn:hover {
  color: #fff;
  margin-left: 0 !important;
}

.banner-section {
  height: 100vh;
  position: relative;
  background: url(../img/main-banner-img-new.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 190px 0;
}
@media (max-width: 548px) {
  .banner-section {
    background-position: right;
    padding-bottom: 47px;
    padding-top: 230px;
  }
}
@media (max-width: 1023px) {
  .banner-section {
    height: 100%;
  }
}
@media (max-width: 425px) {
  .banner-section {
    padding-bottom: 47px;
    padding-top: 230px;
    background-position: right;
  }
}
.banner-section .overlay {
  background: url(../img/banner-background.png);
}
.banner-section .overlay .banner-inner {
  position: relative;
  z-index: 3;
}
@media (max-width: 1199px) {
  .banner-section .overlay .row {
    flex-direction: column;
  }
}
@media (max-width: 351px) {
  .banner-section .overlay .row {
    padding-top: 67px;
  }
}
.banner-section .overlay .row .column-1 {
  height: 70vh;
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .banner-section .overlay .row .column-1 {
    height: 100%;
  }
}
@media (max-width: 1199px) {
  .banner-section .overlay .row .column-1 {
    padding-top: 0;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .banner-section .overlay .row .column-1 {
    padding: 7px 10px;
  }
}
@media (max-width: 351px) {
  .banner-section .overlay .row .column-1 {
    padding: 0 9px;
  }
}
.banner-section .overlay .row .column-2 {
  padding: 0 !important;
}
@media (max-width: 1199px) {
  .banner-section .overlay .row .column-2 {
    width: 100%;
    margin-top: 0 auto;
  }
}
.banner-section .overlay .row .column-2 .image {
  margin-top: -140px;
}
@media (max-width: 1199px) {
  .banner-section .overlay .row .column-2 .image {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .banner-section .overlay .row .column-2 .image {
    width: 100%;
  }
}
.banner-section .overlay .row .column .content {
  margin-top: 190px;
}
.banner-section .overlay .row .column .content h1 {
  font-size: 88px;
  color: #c2a665;
}
.banner-section .overlay .row .column .content h3 {
  font-weight: 600;
  font-size: 66px;
  margin-top: -6px;
  color: #c2a665;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .banner-section .overlay .row .column .content h3 {
    margin-top: 2px;
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .banner-section .overlay .row .column .content h3 {
    font-size: 40px;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0.5;
}

.container-2 {
  overflow: hidden;
  background: #000;
  cursor: ew-resize;
  white-space: nowrap;
  margin: 0;
  max-width: 100%;
}
@media (max-width: 991px) {
  .container-2 {
    display: none;
  }
}

.title {
  font: bold normal 12vw/1.2 "Montserrat", sans-serif;
  position: relative;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0 15%;
  will-change: transform;
}
.title img {
  width: 1080px;
  margin-top: -90px;
}

.core-competence .container-fluid {
  max-width: none;
}
.core-competence .container-fluid .row {
  align-items: center;
  justify-content: end;
}
@media (max-width: 767px) {
  .core-competence .container-fluid .row {
    justify-content: start;
  }
}
.core-competence .container-fluid .row .text-column {
  max-width: 606px;
}

@media (max-width: 532px) {
  .collaboration .container-fluid .row .box h4 {
    font-size: 19px;
    margin: 40px 0;
  }
}
@media (max-width: 532px) {
  .collaboration .container-fluid .button a {
    margin-top: 0 !important;
  }
}

@media (max-width: 425px) {
  .txt-img .container-fluid .row .image {
    margin-bottom: 25px;
  }
}
.txt-img .container-fluid .row .content .icon-text {
  margin: 30px 0 !important;
}
@media (max-width: 620px) {
  .txt-img .container-fluid .row .content .icon-text p {
    font-size: 16px;
    font-weight: 400;
  }
}
.txt-img .container-fluid .row .content .icon-text p img {
  width: 24px;
  margin-right: 10px;
}
@media (max-width: 720px) {
  .txt-img .container-fluid .row .content .icon-text p img {
    width: 23px;
  }
}

.blurb-section .container-fluid {
  text-align: center;
}
.blurb-section .container-fluid h2 {
  margin-bottom: 40px;
}
.blurb-section .container-fluid .row {
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .blurb-section .container-fluid .row {
    width: 100%;
  }
}
.blurb-section .container-fluid .row .col-md-4 .box {
  padding: 0 15px;
}
@media (max-width: 425px) {
  .blurb-section .container-fluid .row .col-md-4 .box {
    margin-bottom: 25px;
  }
}
.blurb-section .container-fluid .row .col-md-4 .box .image {
  margin-bottom: 15px;
}
.blurb-section .container-fluid .row .col-md-4 .box .image img {
  width: auto;
}
.blurb-section .container-fluid .button a {
  margin: 0 auto;
  margin-top: 40px;
}

.main-section {
  background: linear-gradient(88deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.45)), url(../img/testimonials-bg.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 424px) {
  .main-section {
    background-position: right;
  }
}
.main-section .container-fluid {
  padding: 115px 30px;
}
@media (max-width: 768px) {
  .main-section .container-fluid {
    padding: 40px 5%;
  }
}
.main-section .container-fluid .row {
  width: 60%;
}
@media (max-width: 768px) {
  .main-section .container-fluid .row {
    width: 100%;
  }
}
@media (max-width: 532px) {
  .main-section .container-fluid .row h2 {
    padding: 0;
    font-size: 45px !important;
  }
}
@media (max-width: 532px) {
  .main-section .container-fluid .row .button {
    padding: 0;
  }
}

.team-section .container-fluid .row {
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .team-section .container-fluid .row {
    width: 100%;
  }
}
.team-section .container-fluid .row .team-1 {
  background: url("../img/Bogdan Schlaffer .jpg");
}
@media (max-width: 767px) {
  .team-section .container-fluid .row .team-1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 641px) {
  .team-section .container-fluid .row .team-1 h3 {
    font-size: 38px;
    font-weight: 500;
  }
}
.team-section .container-fluid .row .team-2 {
  background: url("../img/Jenny Wolf.jpg");
}
@media (max-width: 641px) {
  .team-section .container-fluid .row .team-2 h3 {
    font-size: 38px;
    font-weight: 500;
  }
}
.team-section .container-fluid .row .content {
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 14px 48px;
  border-radius: 12px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2509803922);
  background-size: cover;
  transition: 0.3s all;
}
@media (max-width: 532px) {
  .team-section .container-fluid .row .content {
    padding: 14px 32px;
    height: 550px;
  }
}
@media (max-width: 425px) {
  .team-section .container-fluid .row .content {
    margin-bottom: 25px;
    height: 480px;
  }
}
.team-section .container-fluid .row .content:hover {
  margin-top: -8px;
}
@media (max-width: 1024px) {
  .team-section .container-fluid .row .content {
    background-size: cover;
  }
}
@media (max-width: 532px) {
  .team-section .container-fluid .row .content p {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (max-width: 532px) {
  .team-section .container-fluid .row .content h3 {
    font-size: 32px;
    margin-bottom: 35px;
  }
}

.video-section {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.7)), url(../img/particles-bg.png);
}
.video-section .container-fluid .row {
  text-align: center;
}
.video-section .container-fluid .row .heading {
  margin-bottom: 30px;
}
.video-section .container-fluid .row .video {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 1199px) {
  .video-section .container-fluid .row .video {
    width: 100%;
  }
}
.video-section .container-fluid .row .video:hover img {
  opacity: 0.2;
}
.video-section .container-fluid .row .video:hover .icon {
  opacity: 1;
}
.video-section .container-fluid .row .video .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.5s;
}
.video-section .container-fluid .row .video .icon i {
  font-size: 110px;
  background-image: linear-gradient(135deg, #ac8c4f 0%, #f4e296 30%, #ac8c4f 50%, #ac8c4f 0%, #f4e296 80%, #ac8c4f 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-section .container-fluid .row .video img {
  border-radius: 20px;
  box-shadow: 0px 0px 54px 3px rgba(182, 153, 94, 0.2117647059);
  border: 1px solid rgba(179, 149, 91, 0.4392156863);
  transition: all 0.3s;
}
.video-section .container-fluid .row .body-content {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .video-section .container-fluid .row .body-content {
    width: 90%;
  }
}
.video-section .container-fluid .row .body-content .button a {
  margin: 0 auto;
}

.img-txt-section {
  background-color: #000;
}
.img-txt-section .container-fluid .row .content {
  padding: 0 30px;
}
.img-txt-section .container-fluid .row .image img {
  border-radius: 22px;
}

.Amazon-Fba {
  background-color: #000;
}
.Amazon-Fba .roundborder {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  word-wrap: break-word;
  float: none;
  margin: 0 auto;
  background: #000;
  transition: all 0.5s;
}
.Amazon-Fba .roundborder:hover {
  filter: invert(1);
}
.Amazon-Fba .roundborder .roundcontent {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 100px;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-animation: slideDash 10s infinite linear;
  animation: slideDash 10s infinite linear;
  -webkit-backface-visibility: hidden;
}
.Amazon-Fba .roundborder .roundborder .text {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 14px;
  left: 14px;
  padding: 5px;
  word-wrap: break-word;
  box-sizing: border-box;
}
@-webkit-keyframes slideDash {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.Amazon-Fba .roundborder .icon {
  width: 64px;
  margin: 0 auto;
}
.Amazon-Fba .roundborder .icon img {
  margin-top: 40px;
}
.Amazon-Fba .roundborder .text {
  text-align: center;
}

.product-research {
  background-color: #050505;
}
.product-research .container-fluid .heading {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.product-research .container-fluid .row {
  margin-bottom: 40px;
}
.product-research .container-fluid .row .main-column {
  padding: 0 22px;
}
.product-research .container-fluid .row .image {
  margin-bottom: 30px;
}
.product-research .container-fluid .row .image img {
  border-radius: 25px;
}
.product-research .container-fluid .row .content {
  padding: 0 30px;
}
.product-research .container-fluid .row .content p {
  margin-bottom: 20px;
  font-size: 20px;
}
.product-research .container-fluid .row .content h5 {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.7098039216);
  font-weight: 500;
  line-height: 1;
  margin-bottom: 11px;
}
.product-research .container-fluid .row .content a {
  font-size: 22px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #b4965c;
}

.cta-section {
  background: url(../img/Bg\ Call\ to\ Action.png);
  background-size: cover;
  background-position: bottom;
}
.cta-section .container-fluid .heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.cta-section .container-fluid .row {
  width: 74%;
  margin: 0 auto;
  justify-content: space-evenly;
}
@media (max-width: 1199px) {
  .cta-section .container-fluid .row {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cta-section .container-fluid .row {
    flex-direction: column;
  }
}
.cta-section .container-fluid .row .column-1 {
  background-color: rgba(0, 0, 0, 0.168627451);
}
.cta-section .container-fluid .row .column-2 {
  background-image: linear-gradient(135deg, #ac8c4f 0%, #f4e296 30%, #ac8c4f 50%, #ac8c4f 0%, #f4e296 80%, #ac8c4f 100%);
}
.cta-section .container-fluid .row .column {
  padding: 42px 40px;
  border-radius: 18px;
  text-align: center;
  width: 47%;
  border: 1px solid rgba(255, 255, 255, 0.1215686275);
  background: rgba(0, 0, 0, 0.3019607843);
  backdrop-filter: blur(114px);
}
@media (max-width: 767px) {
  .cta-section .container-fluid .row .column {
    width: 100%;
    margin-bottom: 22px;
  }
}
.cta-section .container-fluid .row .column .icon {
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.0588235294);
  display: flex;
  width: fit-content;
  border-radius: 80px;
  padding: 10px 30px;
  margin-bottom: 80px;
}
.cta-section .container-fluid .row .column .icon img {
  width: 21px;
  height: 20px;
  filter: invert(1);
  opacity: 0.7;
  margin-top: 3px;
}
.cta-section .container-fluid .row .column .icon h6 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 11px;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.6);
}
.cta-section .container-fluid .row .column .icon i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}
.cta-section .container-fluid .row .column .content {
  text-align: left;
}
.cta-section .container-fluid .row .column .content h4 {
  font-size: 38px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}
.cta-section .container-fluid .row .column .content p {
  color: #000;
}

.about {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url(../img/about-page-header.jpg);
}

.about-1 {
  padding-bottom: 0;
}

.video .container-fluid .row {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .video .container-fluid .row {
    width: 100%;
  }
}

.our-way .container-fluid .row .container .timeline {
  position: relative;
  padding: 5rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}
.our-way .container-fluid .row .container .timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 95%;
  margin-left: -2px;
  border-right: 2px dashed #ac8c51;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 1px #ac8c51;
  height: 100%;
  display: block;
}
.our-way .container-fluid .row .container .timeline .timeline-row {
  padding-left: 0%;
  position: relative;
  margin-bottom: 30px;
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-time {
  position: absolute;
  right: -5%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  color: #1a1a1a;
  font-size: 1.5rem;
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 10px;
  text-align: center;
  margin-right: 75px;
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: rgba(197, 95, 95, 0);
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -130px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background-image: linear-gradient(130deg, #ac8c51, #ac8c51);
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
  color: #181818;
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}
.our-way .container-fluid .row .container .timeline .timeline-row .timeline-content i {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #272e48;
  margin-bottom: 10px;
  display: inline-block;
}
@media (max-width: 992px) {
  .our-way .container-fluid .row .container .timeline {
    padding: 15px;
  }
  .our-way .container-fluid .row .container .timeline:after {
    border: 0;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(odd) .timeline-content:before, .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }
  .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(even) .timeline-content:before, .our-way .container-fluid .row .container .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}
.our-way .container-fluid .row .col-md-6 .image img {
  object-fit: cover;
  height: 814px;
  margin-left: 60px;
}
@media (max-width: 767px) {
  .our-way .container-fluid .row .col-md-6 .image img {
    width: 100%;
    height: 156px;
    margin: 23px 0;
  }
}

.consultation .container-fluid .row .content {
  padding: 80px;
}
@media (max-width: 768px) {
  .consultation .container-fluid .row .content {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .consultation .container-fluid .row .content p {
    font-size: 22px !important;
  }
}
.consultation .container-fluid .row .image img {
  object-fit: cover;
  height: 536px;
  margin-left: -118px;
  width: 623px;
}
@media (max-width: 767px) {
  .consultation .container-fluid .row .image img {
    width: 100%;
    height: 156px;
    margin: 23px 0;
  }
}

.img-txt-section .icon-text p {
  font-size: 26px;
  margin-bottom: 15px;
}
.img-txt-section .icon-text p img {
  width: 50px;
  margin-right: 14px;
}

.about-2 {
  padding-bottom: 5%;
}
@media (max-width: 767px) {
  .about-2 .content {
    margin-top: 40px;
  }
}

.about-3 {
  background-color: black;
}
.about-3 .heading {
  text-align: center;
}
.about-3 .inner-content-row {
  padding: 35px 35px !important;
}
@media (max-width: 991px) {
  .about-3 .inner-content-row {
    padding: 20px 0 !important;
  }
}
.about-3 .inner-content-row .icon {
  margin-bottom: 15px !important;
}
.about-3 .inner-content-row .icon img {
  width: 80px;
  margin-bottom: 15px;
}
.about-3 .inner-content-row .content {
  text-align: left;
}
.about-3 .inner-content-row .content h5 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7098039216);
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 11px;
}
.about-3 .inner-content-row .content a {
  font-size: 22px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #b4965c;
}

.benefits-section .container-fluid .row .content {
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 12px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1490196078);
}
@media (max-width: 768px) {
  .benefits-section .container-fluid .row .content {
    margin-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .benefits-section .container-fluid .row .content {
    margin-bottom: 25px;
  }
}
.benefits-section .container-fluid .row .content .image img {
  border-radius: 12px 12px 0 0;
}
@media (max-width: 768px) {
  .benefits-section .container-fluid .row .content .image {
    margin: 0 !important;
  }
}
.benefits-section .container-fluid .row .content .text {
  padding: 40px 40px;
}
.benefits-section .container-fluid .row .content .text h4 {
  font-size: 35px;
}

.services-section {
  background: #000;
}
.services-section:nth-child(even) .row {
  flex-direction: row-reverse;
}
.services-section .container-fluid .row .content .points-text p {
  background: #050505;
  padding: 21px 29px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.031372549);
  transition: all 0.3s;
}
.services-section .container-fluid .row .content .points-text p:hover {
  margin-left: 20px;
}
.services-section .container-fluid .row .image {
  width: 85%;
  margin: 0 auto;
}

.element-services-section {
  background: #000;
}
.element-services-section .container-fluid .heading {
  text-align: center;
}
.element-services-section .container-fluid .row {
  padding: 25px 0;
}
@media (max-width: 1199px) {
  .element-services-section .container-fluid .row .col-md-2 {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .element-services-section .container-fluid .row .col-md-2 {
    width: 100%;
    margin-bottom: 16px;
  }
}
.element-services-section .container-fluid .row .content {
  background: #0d0d0d;
  padding: 34px 32px;
  border-radius: 20px;
  border: 1px solid #000;
  transition: all 0.3s;
}
.element-services-section .container-fluid .row .content:hover {
  background: #050505;
  border: 1px solid rgba(255, 255, 255, 0.2784313725);
}
.element-services-section .container-fluid .row .content .image {
  width: 90px;
  margin-bottom: 20px;
}
.element-services-section .container-fluid .row .content .text h4 {
  color: rgba(255, 255, 255, 0.6);
}

.testimonial {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url(../img/testimonials-page-header.jpg);
}

.testiomoinals-section {
  background: #fff;
}
.testiomoinals-section .container-fluid .trustpilot-row .first {
  text-align: center;
}
.testiomoinals-section .container-fluid .trustpilot-row .first h4 img {
  width: auto;
}
.testiomoinals-section .container-fluid .trustpilot-row .first p img {
  width: auto;
}
.testiomoinals-section .container-fluid .heading {
  text-align: center;
  margin-bottom: 75px;
  margin-bottom: 30px;
}
.testiomoinals-section .container-fluid .over-flow-content {
  margin-top: 70px;
  overflow: scroll;
  height: 60vh;
}
.testiomoinals-section .container-fluid .row {
  margin-top: 75px;
}
.testiomoinals-section .container-fluid .row .content {
  background-color: #fafafa;
  padding: 30px 44px 5px 44px;
  border-radius: 18px;
}
@media (max-width: 767px) {
  .testiomoinals-section .container-fluid .row .content {
    margin-bottom: 55px;
  }
}
.testiomoinals-section .container-fluid .row .content .image {
  width: 75px;
  margin-bottom: 15px;
  margin-top: -50px;
}
.testiomoinals-section .container-fluid .row .content .image img {
  border-radius: 50px;
}
.testiomoinals-section .container-fluid .row .content .body {
  color: rgba(255, 255, 255, 0.6);
}
.testiomoinals-section .container-fluid .row .content .body .rating {
  background-image: linear-gradient(135deg, #ac8c4f 0%, #f4e296 30%, #ac8c4f 50%, #ac8c4f 0%, #f4e296 80%, #ac8c4f 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  margin-bottom: 10px;
}
.testiomoinals-section .container-fluid .row .content .body h5 {
  color: #1a1a1a;
}
.testiomoinals-section .container-fluid .row .content .body a {
  color: #1a1a1a;
}
.testiomoinals-section .container-fluid .row .content .body .country {
  padding-top: 15px;
}
.testiomoinals-section .container-fluid .row .content .body .country p {
  font-size: 20px;
}
.testiomoinals-section .container-fluid .row .content .body .country p img {
  width: 28px;
  margin-right: 10px;
}

.video-testimonials .container-fluid .row {
  margin-bottom: 70px;
}
.video-testimonials .container-fluid .row .content .icon {
  margin-bottom: 26px;
}
.video-testimonials .container-fluid .row .content .icon img {
  width: auto;
}
.video-testimonials .container-fluid .row .content h3 {
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .video-testimonials .container-fluid .row .content h3 {
    font-size: 35px;
  }
}

/*### Blog ###*/
.blog-posts {
  background: #fff;
}
.blog-posts .container-fluid {
  /*### Row ###*/
}
.blog-posts .container-fluid .heading {
  text-align: center;
  margin-bottom: 45px;
}
.blog-posts .container-fluid .row {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .blog-posts .container-fluid .row {
    width: 100%;
  }
}
.blog-posts .container-fluid .row .post-grid {
  background: #050505;
  /*### All-Posts ###*/
}
@media (max-width: 767px) {
  .blog-posts .container-fluid .row .post-grid {
    margin-bottom: 40px;
  }
}
.blog-posts .container-fluid .row .post-grid .content {
  padding: 34px 42px;
  background: #fafafa;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1803921569);
}
.blog-posts .container-fluid .row .post-grid .content .publish-date {
  font-size: 14px;
  margin-bottom: 14px;
}
.blog-posts .container-fluid .row .post-grid .content h3 {
  font-weight: 700;
  margin-bottom: 14px;
}
.blog-posts .container-fluid .row .post-grid .content p {
  font-size: 16px;
  margin-bottom: 26px;
}
.blog-posts .container-fluid .row .post-grid .content a {
  color: #ac8c51;
  border-bottom: 1px solid;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
}
.blog-posts .container-fluid .row .post-grid .content a:hover {
  opacity: 0.8;
}

/*### Blog-End ###*/
.blog-page {
  background: #fff;
}
.blog-page .container-fluid .post-row {
  width: 85%;
  margin: 0 auto;
  background: #fafafa;
  padding: 65px;
}
@media (max-width: 991px) {
  .blog-page .container-fluid .post-row {
    padding: 35px;
    width: 100%;
  }
}
.blog-page .container-fluid .post-row .post-content .image {
  margin-bottom: 25px;
}
.blog-page .container-fluid .post-row .post-content .body {
  padding: 19px 29px;
}
@media (max-width: 991px) {
  .blog-page .container-fluid .post-row .post-content .body {
    padding: 19px 0px;
  }
}
.blog-page .container-fluid .post-row .post-content .body p {
  font-size: 22px;
  margin-bottom: 10px;
}
.blog-page .container-fluid .post-row .post-content .body .buttons .row {
  width: 250px;
  margin-top: 22px;
}
.blog-page .container-fluid .post-row .post-content .body .buttons .row a {
  font-size: 18px;
  transition: all 0.3s;
  color: #1a1a1a;
}
.blog-page .container-fluid .post-row .post-content .body .buttons .row a:hover {
  color: black;
  opacity: 0.5;
  color: black;
}

/*### Contact ###*/
.contact {
  background: #fff;
}
.contact .container-fluid {
  max-width: 1420px !important;
  /*### Row ###*/
}
@media (max-width: 305px) {
  .contact .container-fluid {
    padding: 0;
  }
}
.contact .container-fluid .main-row {
  margin: 0 auto;
  /*### Contact-form ###*/
}
@media (max-width: 765px) {
  .contact .container-fluid .main-row .col-md-6 {
    margin-bottom: 45px;
  }
  .contact .container-fluid .main-row .col-md-6 .contact-form {
    padding: 15px;
  }
}
.contact .container-fluid .main-row .content {
  padding-top: 58px;
}
.contact .container-fluid .main-row .content h2 {
  font-size: 42px;
}
.contact .container-fluid .main-row .content .email {
  margin: 65px 0;
  font-size: 50px;
  font-weight: 100 !important;
  font-family: sans-serif;
  color: #c2a665;
}
@media (max-width: 349px) {
  .contact .container-fluid .main-row .content .email {
    font-size: 24px !important;
  }
}
.contact .container-fluid .main-row .content h4 {
  margin-bottom: 10px;
}
.contact .container-fluid .main-row .content .row {
  margin-bottom: 45px;
}
.contact .container-fluid .main-row .content .follow-us {
  display: flex;
}
@media (max-width: 349px) {
  .contact .container-fluid .main-row .content .follow-us {
    flex-direction: column;
  }
}
@media (max-width: 349px) {
  .contact .container-fluid .main-row .content .follow-us li {
    margin-bottom: 12px;
  }
}
.contact .container-fluid .main-row .content .follow-us li a i {
  font-size: 16px;
  border: 1px solid;
  width: 45px;
  height: 45px;
  padding: 14px;
  border-radius: 50px;
  margin-right: 15px;
}
.contact .container-fluid .main-row .content .follow-us li a i:hover {
  color: #000;
}
.contact .container-fluid .main-row .contact-form {
  background: #f7f7f5;
  padding: 46px 100px;
}
.contact .container-fluid .main-row .contact-form .container {
  padding: 16px;
  /* Full-width input fields */
}
@media (max-width: 349px) {
  .contact .container-fluid .main-row .contact-form .container {
    padding: 0;
  }
}
.contact .container-fluid .main-row .contact-form .container input[type=text],
.contact .container-fluid .main-row .contact-form .container input[type=password],
.contact .container-fluid .main-row .contact-form .container input[type=tel],
.contact .container-fluid .main-row .contact-form .container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  color: rgb(0, 0, 0);
}
.contact .container-fluid .main-row .contact-form .container input[type=text]:focus,
.contact .container-fluid .main-row .contact-form .container input[type=password]:focus,
.contact .container-fluid .main-row .contact-form .container input[type=tel]:focus,
.contact .container-fluid .main-row .contact-form .container textarea {
  background-color: #ddd;
  outline: none;
  color: rgb(0, 0, 0);
}
.contact .container-fluid .main-row .contact-form .container .titles {
  text-align: left;
  margin-bottom: 55px;
}
.contact .container-fluid .main-row .contact-form .container .titles h2 {
  font-size: 42px;
}
.contact .container-fluid .main-row .contact-form .container .titles p {
  margin-bottom: 0;
}
.contact .container-fluid .main-row .contact-form .container .button .btn {
  margin: 0 auto;
}

/*### Contact-End ###*/
.career-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.career-section .container-fluid .row .col-md-6 {
  padding: 0 60px;
}

.career-blurb-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url(../img/warehouse.jpg);
  background-position: center;
  padding: 7% 0;
}
.career-blurb-section .container-fluid .headline h2,
.career-blurb-section .container-fluid .headline p {
  color: #fff;
}
.career-blurb-section .container-fluid .row .content p {
  color: #fff;
}

.job-section .container-fluid .box {
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding: 38px 22px;
  border-radius: 15px;
  width: 75%;
  margin: 30px auto;
}
.job-section .container-fluid .box .button-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.job-section .container-fluid .box .content .highlight {
  background: rgba(188, 160, 95, 0.1215686275);
  padding: 3px 13px;
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
}
.job-section .container-fluid .box .button .btn {
  margin-left: auto !important;
}

footer {
  background: #171d24;
}
footer .container-fluid {
  color: #fff;
}
footer .container-fluid .row .col-md-3 {
  padding: 0;
  padding-right: 60px;
}
footer .container-fluid .footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 100px 0;
}
@media (max-width: 767px) {
  footer .container-fluid .footer {
    padding-bottom: 30px;
  }
}
footer .container-fluid .footer .logo {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  footer .container-fluid .footer .logo img {
    width: 60%;
    margin-bottom: 20px;
  }
}
footer .container-fluid .footer p {
  font-size: 17px !important;
  margin-bottom: 2px;
  color: #fff;
}
@media (max-width: 767px) {
  footer .container-fluid .footer p {
    margin-bottom: 8px;
  }
}
footer .container-fluid .footer p a {
  transition: all 0.3s;
}
footer .container-fluid .footer p a:hover {
  color: #ac8c51;
}
footer .container-fluid .footer .follow-us {
  display: flex;
  margin-bottom: 25px;
}
footer .container-fluid .footer .follow-us li {
  transition: all 0.3s;
}
footer .container-fluid .footer .follow-us li:hover {
  opacity: 0.5;
}
footer .container-fluid .footer .follow-us li a i {
  font-size: 16px;
  color: #fff;
  border: 1px solid;
  width: 45px;
  height: 45px;
  padding: 14px;
  border-radius: 50px;
  margin-right: 15px;
}
footer .container-fluid .footer h5 {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  footer .container-fluid .footer h5 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
footer .container-fluid .footer-bottom {
  font-size: 15px;
}
@media (max-width: 767px) {
  footer .container-fluid .footer-bottom {
    padding-top: 30px;
  }
}
footer .container-fluid .footer-bottom .row {
  text-align: center;
  padding-top: 18px;
}
footer .container-fluid .footer-bottom .row .copyright p {
  font-size: 15px;
  color: #fff;
  text-align: left;
}
footer .container-fluid .footer-bottom .row .copyright p a {
  transition: all 0.3s;
  color: #fff;
}
footer .container-fluid .footer-bottom .row .copyright p a:hover {
  color: #ac8c51;
}
footer .container-fluid .footer-bottom .row .other-links {
  display: flex;
  color: #fff;
  justify-content: end;
}
footer .container-fluid .footer-bottom .row .other-links li p {
  font-size: 15px;
}
footer .container-fluid .footer-bottom .row .other-links li p a {
  color: #fff;
  margin-right: 16px;
}

/*# sourceMappingURL=style.css.map */
