.about {
  background: linear-gradient(0deg, rgb(0 0 0 / 75%), rgba(0, 0, 0, 0.7)),
    url(../img/about-page-header.jpg);
}

.about-1 {
  padding-bottom: 0;
}

.video {
  .container-fluid {
    .row {
      width: 80%;
      margin: 0 auto;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.our-way {
  .container-fluid {
    .row {
      .container {
        .timeline {
          position: relative;
          padding: 5rem;
          margin: 0 auto 1rem auto;
          overflow: hidden;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 95%;
            margin-left: -2px;
            border-right: 2px dashed $primary;
            opacity: 0.9;
            box-shadow: 0px 0px 40px 1px $primary;
            height: 100%;
            display: block;
          }
          .timeline-row {
            padding-left: 0%;
            position: relative;
            margin-bottom: 30px;

            .timeline-time {
              position: absolute;
              right: -5%;
              top: 15px;
              text-align: right;
              margin-right: 20px;
              color: #1a1a1a;
              font-size: 1.5rem;

              small {
                display: block;
                font-size: 0.8rem;
              }
            }

            .timeline-content {
              position: relative;
              padding: 20px 30px;
              background: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              box-shadow: 0px 0px 14px 0px #0000001f;
              border-radius: 10px;
              text-align: center;
              margin-right: 75px;
              &:after {
                content: "";
                position: absolute;
                top: 20px;
                height: 16px;
                width: 16px;
                background: #c55f5f00;
              }

              &:before {
                content: "";
                position: absolute;
                top: 20px;
                right: -130px;
                width: 20px;
                height: 20px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                z-index: 10;
                // background: #272e48;
                background-image: linear-gradient(130deg, $primary, $primary);
                // border: 2px dashed #4b546f;
              }

              h4 {
                margin: 0 0 20px 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 150%;
                color: #181818;
              }

              p {
                margin-bottom: 30px;
                line-height: 150%;
              }

              i {
                font-size: 1.2rem;
                line-height: 100%;
                padding: 15px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                background: #272e48;
                margin-bottom: 10px;
                display: inline-block;
              }
            }

            // &:nth-child(even) .timeline-content {
            //   margin-left: 40px;
            //   text-align: left;

            //   &:after {
            //     left: -8px;
            //     right: initial;
            //     border-bottom: 0;
            //     border-left: 0;
            //     transform: rotate(-135deg);
            //   }

            //   &:before {
            //     left: -52px;
            //     right: initial;
            //   }
            // }

            // &:nth-child(odd) {
            //   padding-left: 0;
            //   padding-right: 50%;

            //   .timeline-time {
            //     right: auto;
            //     left: 50%;
            //     text-align: left;
            //     margin-right: 0;
            //     margin-left: 20px;
            //   }

            //   .timeline-content {
            //     margin-right: 40px;

            //     &:after {
            //       right: -8px;
            //       border-left: 0;
            //       border-bottom: 0;
            //       transform: rotate(45deg);
            //     }
            //   }
            // }
          }
        }
        @media (max-width: 992px) {
          .timeline {
            padding: 15px;

            &:after {
              border: 0;
            }

            .timeline-row {
              &:nth-child(odd) {
                padding: 0;

                .timeline-time {
                  position: relative;
                  top: 0;
                  left: 0;
                  margin: 0 0 10px 0;
                }

                .timeline-content {
                  margin: 0;

                  &:before,
                  &:after {
                    display: none;
                  }
                }
              }

              &:nth-child(even) {
                padding: 0;

                .timeline-time {
                  position: relative;
                  top: 0;
                  left: 0;
                  margin: 0 0 10px 0;
                  text-align: left;
                }

                .timeline-content {
                  margin: 0;

                  &:before,
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      .col-md-6 {
        .image {
          img {
            object-fit: cover;
            height: 814px;
            margin-left: 60px;
            @media (max-width: 767px) {
              width: 100%;
              height: 156px;
              margin: 23px 0;
            }
          }
        }
      }
    }
  }
}

.consultation {
  .container-fluid {
    .row {
      .content {
        padding: 80px;
        @media (max-width: 768px) {
          padding: 0;
        }
        p {
          @media (max-width: 768px) {
            font-size: 22px !important;
          }
        }
      }

      .image {
        img {
          object-fit: cover;
          height: 536px;
          margin-left: -118px;
          width: 623px;
          @media (max-width: 767px) {
            width: 100%;
            height: 156px;
            margin: 23px 0;
          }
        }
      }
    }
  }
}

.img-txt-section {
  .icon-text {
    p {
      font-size: 26px;
      margin-bottom: 15px;
      img {
        width: 50px;
        margin-right: 14px;
      }
    }
  }
}

.about-2 {
  padding-bottom: 5%;
  .content {
    @media (max-width: 767px) {
      margin-top: 40px;
    }
  }
}

.about-3 {
  background-color: black;
  .heading {
    text-align: center;
  }
  .inner-content-row {
    padding: 35px 35px !important;
    @media (max-width: 991px) {
      padding: 20px 0 !important;
    }
    .icon {
      margin-bottom: 15px !important;
      img {
        width: 80px;
        margin-bottom: 15px;
      }
    }
    .content {
      text-align: left;
      h5 {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.7098039216);
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 11px;
      }
      a {
        font-size: 22px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid #b4965c;
      }
    }
  }
}
