footer {
  background: #171d24;
  .container-fluid {
    color: #fff;
    .row {
      .col-md-3 {
        padding: 0;
        padding-right: 60px;
      }
    }
    .footer {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding: 100px 0;

      @media (max-width: 767px) {
        padding-bottom: 30px;
      }

      .logo {
        margin-bottom: 15px;
        img {
          @media (max-width: 767px) {
            width: 60%;
            margin-bottom: 20px;
          }
        }
      }
      p {
        font-size: 17px !important;
        margin-bottom: 2px;
        color: #fff;
        @media (max-width: 767px) {
          margin-bottom: 8px;
        }
        a {
          transition: all 0.3s;
          &:hover {
            color: $primary;
          }
        }
      }
      .follow-us {
        display: flex;
        margin-bottom: 25px;
        li {
          transition: all 0.3s;
          &:hover {
            opacity: 0.5;
          }
          a {
            i {
              font-size: 16px;
              color: #fff;
              border: 1px solid;
              width: 45px;
              height: 45px;
              padding: 14px;
              border-radius: 50px;
              margin-right: 15px;
            }
          }
        }
      }
      h5 {
        margin-bottom: 10px;
        @media (max-width: 767px) {
          margin-top: 40px;
          margin-bottom: 20px;
        }
      }
    }
    .footer-bottom {
      font-size: 15px;
      @media (max-width: 767px) {
        padding-top: 30px;
      }
      .row {
        text-align: center;
        padding-top: 18px;

        .copyright {
          p {
            font-size: 15px;
            color: #fff;
            text-align: left;
            a {
              transition: all 0.3s;
              color: #fff;
              &:hover {
                color: $primary;
              }
            }
          }
        }

        .other-links {
          display: flex;
          color: #fff;
          justify-content: end;
          li {
            p {
              font-size: 15px;
              a {
                color: #fff;
                margin-right: 16px;
              }
            }
          }
        }
      }
    }
  }
}
