h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 600;
}

p,
a {
  font-family: $font;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1260px;
  margin: auto;
  @media (max-width: 425px) {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 500;
  color: #181818;
}
h1 {
  font-weight: 700;
  font-size: 88px;
  @media (max-width: 991px) {
    font-size: 65px !important;
  }
  @media (max-width: 575px) {
    font-size: 45px !important;
  }
}
h2 {
  font-size: 50px;
  margin-bottom: 15px;
  @media (max-width: 991px) {
    font-size: 45px;
  }
  @media (max-width: 575px) {
    font-size: 32px !important;
  }
}
h3 {
  font-size: 50px;
  font-weight: 800;
}

.button {
  .btn {
    background-image: linear-gradient(135deg, #ac8c4f 10%, #f4e296 100%);
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 14px 35px;
    border-radius: 80px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid #af9057;
    transition: 0.3s all ease;

    @media (max-width: 532px) {
      text-transform: none !important;
    }
    &:hover {
      background: transparent;
      color: #fff;
      border: 1px solid;
      margin-left: 12px;
    }
    @media (max-width: 508px) {
      padding: 10px 20px;
      font-size: 13px;
      width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 15px;
      padding: 10px 18px;
    }
  }
  .btn-2 {
    background: transparent;
    color: #fff;
    border: 1px solid;
    &:hover {
      background-image: linear-gradient(135deg, #ac8c4f 10%, #f4e296 100%);
      border: 1px solid #af9057;
    }
  }
  .dark {
    background: transparent;
    font-size: 19px;
    font-weight: 500;
    color: $primary;
    border-color: $primary;
    &:hover {
      background: $primary;
      border-color: $primary;
    }
    @media (max-width: 768px) {
      font-size: 15px;
      padding: 10px 18px;
    }
  }
}

.headline {
  text-align: center;
  margin-bottom: 60px;
}

section {
  padding: 5% 0;
  @media (max-width: 425px) {
    padding: 10% 0;
  }

  @media (max-width: 532px) {
    padding: 70px 20px;
  }
}

p {
  margin-bottom: 15px;

  font-size: 18px;
  color: #000000b8;
  font-weight: 400;
  @media (max-width: 620px) {
    font-size: 21px;
  }
}

a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  transition: width 0.3s ease;
}

a:hover:after {
  width: 100%;
  left: 0%;
}

.page-header {
  background: linear-gradient(0deg, rgb(0 0 0 / 75%), rgba(0, 0, 0, 0.7)),
    url(../img/header-img.jpg);
  background-position: center;
  padding: 7% 0;
  @media (max-width: 683px) {
    padding-top: 142px;
    padding-bottom: 50px;
  }
  .container-fluid {
    .heading {
      width: 48%;
      text-align: center;
      padding-top: 145px;
      @media (max-width: 683px) {
        width: 70%;
      }

      h1,
      p {
        text-align: left;
      }
      @media (max-width: 1024px) {
        padding: 35px 0;
      }
    }
  }
}

.image {
  @media (max-width: 425px) {
    margin: 45px 0;
  }
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 8;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 7;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  background-color: #ac8c4f;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

a {
  &:hover {
    color: #fff;
  }
}

.aos-init.aos-animate {
  transition-delay: 0.3s !important;
}

.sub-title {
  line-height: 1.2;
  font-size: 28px;
  padding: 10px 0;
  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.light {
  color: #fff;
}

iframe {
  @media (max-width: 425px) {
    height: 220px;
  }
}
