header {
  background-color: #000 !important;
  padding: 0px 0;
  // backdrop-filter: blur(13px) !important;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ffffff1a;
  width: 100%;
  z-index: 5;
  @media (max-width: 1024px) {
    position: relative;
  }
  @media (max-width: 991px) {
    padding: 12px 0;
  }

  .top-bar {
    background-color: #191919;
    padding: 6px 0%;
    @media (max-width: 1024px) {
      display: none;
    }
    .row {
      width: 75%;
      margin: 0 auto;
      .col-md-6 {
        .column-1 {
          justify-content: start;
        }
        .column-2 {
          justify-content: end;
        }
        .content {
          display: flex;
          align-items: center;

          .contact-info {
            display: flex;
            color: #ffffff85;
            font-size: 14px;
            .location {
              margin-right: 20px;
            }
          }
          .follow-us {
            display: flex;
            color: #ffffff85;
            font-size: 14px;
            margin-right: 30px;
            li {
              margin-right: 8px;
            }
          }
          .button {
            .btn {
              font-size: 14px;
              padding: 5px 49px;
            }
            .wtsapp {
              background-image: linear-gradient(
                12deg,
                #25cf43 10%,
                #61fd7d 100%
              );
              border: none;
              padding: 4px 20px;
            }
          }
        }
      }
    }
  }

  .navbar {
    .logo {
      img {
        width: 300px;
        @media (max-width: 575px) {
          width: 220px;
        }
      }
    }
    .navbar-collapse {
      justify-content: end;
      ul {
        li {
          a {
            font-size: 19px;
            margin: 0 10px;
            border-bottom: 1px solid transparent;

            padding: 7px 15px !important;

            border-radius: 8px;

            @media (max-width: 991px) {
              padding: 8px 0;
            }

            // background: linear-gradient(#ffffff 0 0) no-repeat var(--p, 200%)
            //   100% / 200% var(--p, 0.08em);
            // transition: 0.3s var(--t, 0s);
            //   background-position 0.3s calc(0.3s - var(--t, 0s));
            &:hover {
              // --p: 100%;
              // --t: 0.3s;

              background: #fff;
              color: #000 !important;
              border-color: $primary;
            }

            font-family: "Nunito Sans", sans-serif;
            font-size: 15px;
            color: #ffffffc7;
          }
        }
      }
    }
  }
}

header {
  .btn {
    &:hover {
      margin-left: 0px !important;
    }
    .menu-btn {
      &:hover {
        color: #fff;
        margin-left: 0 !important;
      }
    }
  }
}
