.benefits-section {
  .container-fluid {
    .row {
      .content {
        border: 1px solid #0000003d;
        border-radius: 12px;
        box-shadow: 0px 0px 25px 0px #00000026;
        @media (max-width: 425px) {
          margin-bottom: 25px;
        }
        .image {
          img {
            border-radius: 12px 12px 0 0;
          }
        }
        .text {
          padding: 40px 40px;
          h4 {
            font-size: 35px;
          }
        }
      }
    }
  }
}

.services-section {
  background: #000;
  &:nth-child(even) {
    .row {
      flex-direction: row-reverse;
    }
  }
  .container-fluid {
    .row {
      .content {
        .points-text {
          p {
            background: #050505;
            padding: 21px 29px;
            border-radius: 12px;
            border: 1px solid #ffffff08;
            transition: all 0.3s;
            &:hover {
              margin-left: 20px;
            }
          }
        }
      }
      .image {
        width: 85%;
        margin: 0 auto;
      }
    }
  }
}

.element-services-section {
  background: #000;
  .container-fluid {
    .heading {
      text-align: center;
    }

    .row {
      padding: 25px 0;
      .col-md-2 {
        @media (max-width: 1199px) {
          width: 33%;
        }
        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 16px;
        }
      }
      .content {
        background: #0d0d0d;
        padding: 34px 32px;
        border-radius: 20px;
        border: 1px solid #000;
        transition: all 0.3s;
        &:hover {
          background: #050505;
          border: 1px solid #ffffff47;
        }
        .image {
          width: 90px;
          margin-bottom: 20px;
        }
        .text {
          h4 {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }
}
