.testimonial {
  background: linear-gradient(0deg, rgb(0 0 0 / 75%), rgba(0, 0, 0, 0.7)),
    url(../img/testimonials-page-header.jpg);
}

.testiomoinals-section {
  background: #fff;
  .container-fluid {
    .trustpilot-row {
      .first {
        text-align: center;
        h4 {
          img {
            width: auto;
          }
        }
        p {
          img {
            width: auto;
          }
        }
      }
    }
    .heading {
      text-align: center;
      margin-bottom: 75px;
      margin-bottom: 30px;
    }
    .over-flow-content {
      margin-top: 70px;
      overflow: scroll;
      height: 60vh;
    }
    .row {
      margin-top: 75px;
      .content {
        background-color: #fafafa;
        padding: 30px 44px 5px 44px;
        border-radius: 18px;
        @media (max-width: 767px) {
          margin-bottom: 55px;
        }

        .image {
          width: 75px;
          margin-bottom: 15px;
          margin-top: -50px;
          img {
            border-radius: 50px;
          }
        }
        .body {
          color: rgba(255, 255, 255, 0.6);
          .rating {
            background-image: linear-gradient(
              135deg,
              #ac8c4f 0%,
              #f4e296 30%,
              #ac8c4f 50%,
              #ac8c4f 0%,
              #f4e296 80%,
              #ac8c4f 100%
            );
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 20px;
            margin-bottom: 10px;
          }
          h5 {
            color: #1a1a1a;
          }
          a {
            color: #1a1a1a;
          }
          .country {
            padding-top: 15px;
            p {
              font-size: 20px;
              img {
                width: 28px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.video-testimonials {
  .container-fluid {
    .row {
      margin-bottom: 70px;
      .content {
        .icon {
          margin-bottom: 26px;
          img {
            width: auto;
          }
        }
        h3 {
          font-weight: 600;
          margin-bottom: 20px;
          @media (max-width: 768px) {
            font-size: 35px;
          }
        }
      }
    }
  }
}
