/*### Colors ###*/
$primary: #ac8c51;
$secondry: #f5e397;
$gold: #c5a967;
$gray: #b3b3b3;
$dark-grey: #131313;
$black: black;
$white: white;

/*--### Font Family ###--*/
$font: "League Spartan", sans-serif;
$header-font: "Arial", sans-serif;

@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.ttf");
}
